// SERTIFICATES LIST
.sertificates
  .sertificates__col
    a.sertificates__item(href="#")
      .sertificates__icon
        img(src='img/pdf.svg')
        p 13.5 Mb
      p Лицензия № 138283 на оказание услуг связи по предоставлению каналов связи

  .sertificates__col
    a.sertificates__item(href="#")
      .sertificates__icon
        img(src='img/pdf.svg')
        p 13.5 Mb
      p Лицензия №140473 на оказание услуг связи по передаче данных, за исключением услуг связи по передаче данных для целей передачи голосовой информации

  .sertificates__col
    a.sertificates__item(href="#")
      .sertificates__icon
        img(src='img/pdf.svg')
        p 13.5 Mb
      p Лицензия №165269 Федеральной службы по надзору в сфере связи, информационных технологий и массовых коммуникаций на предоставление телематических услуг связи

  .sertificates__col
    a.sertificates__item(href="#")
      .sertificates__icon
        img(src='img/pdf.svg')
        p 13.5 Mb
      p Лицензия № 0010604 Центра по лицензированию, сертификации и защите государственной тайны ФСБ России на осуществление разработки, производства, распространения шифровальных (криптографических) средств

  .sertificates__col
    a.sertificates__item(href="#")
      .sertificates__icon
        img(src='img/pdf.svg')
        p 13.5 Mb
      p Свидетельство СРО НП № П-050-5047080378-25022010-136/4

  .sertificates__col
    a.sertificates__item(href="#")
      .sertificates__icon
        img(src='img/pdf.svg')
        p 13.5 Mb
      p Свидетельство СРО НП № С-130-50-0778-50-141216

  .sertificates__col
    a.sertificates__item(href="#")
      .sertificates__icon
        img(src='img/pdf.svg')
        p 13.5 Mb
      p Сертификат менеджмента качества ISO 9001
