// PRODUCTION
.production
  .production__grid
    // col
    .production__col(data-aos="fade-up")
      a(href="#").production-card
        //- .production-card__background
          //- img(src='img/prodCategory_1.jpg' srcset='img/prodCategory_1@2x.jpg 2x')
        .production-card__content
          .production-card__title Мобильные спутниковые <br/> комплексы CHAPK
          .production-card__description Спутниковые сети позволяют пользователям получить <br/> доступ к услугам связи в первую очередь там, где<br/> использование наземных.
        .production-card__image
          img(src='img/productionCategory-1.png' srcset='img/productionCategory-1@2x.png 2x')
    // col
    .production__col(data-aos="fade-up")
      a(href="#").production-card
        //- .production-card__background
          //- img(src='img/prodCategory_2.jpg' srcset='img/prodCategory_2@2x.jpg 2x')
        .production-card__content
          .production-card__title Спутниковые <br/>усилители BUC
          .production-card__description Спутниковые сети позволяют пользователям получить доступ к услугам <br/>связи в первую очередь там, где использование наземных.
        .production-card__image
          img(src='img/productionCategory-2.png' srcset='img/productionCategory-2@2x.png 2x')
    // col
    .production__col(data-aos="fade-up")
      a(href="#").production-card
        //- .production-card__background
          //- img(src='img/prodCategory_3.jpg' srcset='img/prodCategory_3@2x.jpg 2x')
        .production-card__content
          .production-card__title Земные станции <br/>спутниковой связи
          .production-card__description Спутниковые сети позволяют пользователям получить <br/> доступ к услугам связи в первую очередь там, где<br/> использование наземных.
        .production-card__image
          img(src='img/productionCategory-3.png' srcset='img/productionCategory-3@2x.png 2x')
    // col
    .production__col(data-aos="fade-up")
      a(href="#").production-card
        //- .production-card__background
          //- img(src='img/prodCategory_4.jpg' srcset='img/prodCategory_4@2x.jpg 2x')
        .production-card__content
          .production-card__title Телекоммуникационное <br/>оборудование
          .production-card__description Спутниковые сети позволяют <br/>пользователям получить доступ к <br/>услугам связи в первую очередь <br/>там, где использование наземных.
        .production-card__image
          img(src='img/productionCategory-4.png' srcset='img/productionCategory-4@2x.png 2x')
