// PRODUCTION
.production
  max-width: 1600px
  margin: 0 auto
  padding: 24px 40px
  &__grid
    display: flex
    flex-wrap: wrap
    margin: -10px
  &__col
    width: 100%
    min-width: 1px
    min-height: 0
    padding: 10px
    &:nth-child(odd)
      flex: 0 0 $col7
      max-width: $col7
    &:nth-child(even)
      flex: 0 0 $col5
      max-width: $col5

// production card
.production-card
  display: block
  position: relative
  min-height: 350px
  overflow: hidden
  &__background
    position: absolute 0
    z-index: 1
    display: flex
    flex-direction: column
    font-size: 0
    will-change: transform
    transition: transform .4s ease-out
    img
      flex: 1 1 auto
      width: 100%
      height: 100%
      object-fit: cover
      object-position: right bottom

  &__content
    position: relative
    z-index: 2
    padding: 40px 32px

  &__title
    font-weight: 600
    font-size: 26px
    line-height: 32px
  &__description
    margin-top: 1em
    font-weight: 500
    font-size: 14px
    line-height: 1.86
    color: #4F4F4F

  &:hover
    .production-card
      &__background
        transform: scale(1.02)


+r($xl)
  .production
    &__grid
      margin: 38px 0 0
    &__col
      &:nth-child(even)
        flex: 0 0 50%
        max-width: 50%
      &:nth-child(odd)
        flex: 0 0 50%
        max-width: 50%
    &-card
      min-height: 328px


+r($lg)
  .production
    padding: 20px 30px
    &__grid
      margin-top: 27px
    &-card
      &__title
        font-size: 20px
        line-height: 1.35
        br
          display: none
      &__description
        font-size: 12px
        line-height: 1.85


+r($md)
  .production
    &__grid
      margin-top: 28px
    &__col
      padding: 8px 10px
      &:nth-child(even)
        flex: 0 0 100%
        max-width: 100%
      &:nth-child(odd)
        flex: 0 0 100%
        max-width: 100%
    &-card
      min-height: 260px
      &__title
        max-width: 360px

+r($sm)
  .production
    padding: 0 16px
    &__grid
      margin-top: 13px
    &__col
      padding: 4px 0

    &-card
      min-height: 320px
      &__title
        font-size: 16px
      &__content
        padding: 24px 17px
      &__description
        margin-top: 5px
        line-height: 1.7
        br
          display: none
