// REQ FORM
.reqform
  position: relative
  z-index: 2
  &__background
    position: absolute 0
    display: flex
    flex-direction: column
    font-size: 0
    overflow: hidden
    img
      flex: 1 1 auto
      height: 100%
      width: 100%
      object-fit: cover
      object-position: center top
      will-change: transform
      transition: transform .3s linear
  &__content
    position: relative
    z-index: 2
    padding: 150px 0 300px
    color: white

  &__title
    font-weight: 700
    font-size: 30px

  &__fields
    display: flex
    flex-wrap: wrap
    margin: 25px -10px 15px

  &__col
    width: 100%
    flex: 0 0 $col4
    max-width: $col4
    min-width: 1px
    min-height: 0
    padding-left: 10px
    padding-right: 10px

  &__cta
    display: flex
    justify-content: space-between
    align-items: center

  .ui-input__float-label
    color: #BDBDBD
  .ui-checkbox
    color: #BDBDBD
  .btn--modal
    display: none


+r($hd)
  .reqform
    &__content
      padding: 150px 0 150px

+r($xl)
  .reqform
    &__content
      padding: 130px 0 170px
    &__fields
      margin-top: 35px

// +r($lg)
//   .reqform
//     &__content
//       padding: 110px 0 150px

+r($lg)
  .reqform
    &__content
      padding: 50px 0px 70px
    .container
      max-width: 535px
    &__title
      font-size: 24px
    &__fields
      flex-direction: column
      margin-top: 20px
    &__col
      flex: 0 0 100%
      max-width: 100%
      margin-bottom: 26px
      &:last-child
        margin-bottom: 0
    &__cta
      flex-direction: column
      align-items: flex-start
      justify-content: flex-start
      margin-top: 30px
      .btn
        width: 100%
        font-size: 14px
        padding: 14px 25px
      .ui-group
        width: 100%


+r($sm)
  .reqform
    margin-top: -24px
    padding: 0 16px 70px
    &__background
      display: none
    &__content
      display: none
      padding: 0
    .btn--modal
      display: block
