// FULLPAGE
.fullpage(js-fullpage)
  // fp section
  .section
    .home-section
      .home-section__background
        img(src='img/homeSectionBg_1.jpg' srcset='img/homeSectionBg_1@2x.jpg 2x')
      .home-section__content
        .home-section__title Мы строим телекоммуникации
  // fp section
  .section
    .home-section
      .home-section__background
        img(src='img/homeSectionBg_2.jpg' srcset='img/homeSectionBg_2@2x.jpg 2x')
      .home-section__content
        .home-section__title Услуги
  // fp section
  .section
    .home-section
      .home-section__background
        img(src='img/homeSectionBg_3.jpg' srcset='img/homeSectionBg_3@2x.jpg 2x')
      .home-section__content
        .home-section__title Продукция
  // fp section
  .section
    .home-section
      .home-section__background
        img(src='img/homeSectionBg_4.jpg' srcset='img/homeSectionBg_4@2x.jpg 2x')
      .home-section__content
        .home-section__title Решения
