// FULLPAGE
.fullpage(js-fullpage)

  // fp section MAIN
  .section
    .home-section
      .home-section__background.home-section__background--with-overlay
        .home-section__background-overlay
        video(muted loop autoplay poster="img/homeSectionBg_1.jpg")
          source(src="video/testBgVideo.mp4" type="video/mp4")
          source(src="video/testBgVideo.webm" type="video/webm")

        //- img(src='img/homeSectionBg_1.jpg' srcset='img/homeSectionBg_1@2x.jpg 2x')
      .home-section__content
        .home-section__title(data-aos="fade-up") Мы строим телекоммуникации
        .home-section__bottom
          // news-home
          .home-section__news.news-home
            .news-home__title(data-aos="fade-up") 25 лет на рынке телекоммуникаций.
            .news-home__grid
              // col
              .news-home__col(data-aos="fade-up")
                a(href="#").news-home__card
                  .news-home__date 13 марта 2019
                  .news-home__content Специалисты Группы компаний приняли участие в «SATCOMRUS 2018: SMART SATELLITE – идеи и инновации».
              // col
              .news-home__col(data-aos="fade-up")
                a(href="#").news-home__card
                  .news-home__date 13 марта 2019
                  .news-home__content Специалисты ГК "Рэйс" представили новые разработки на форуме "Армия-2018"
              // col
              .news-home__col(data-aos="fade-up")
                a(href="#").news-home__card
                  .news-home__date 13 марта 2019
                  .news-home__content ГК "Рэйс" организовала спутниковую связь на Geek Picnic.


  // fp section SERVICES
  .section
    .home-section
      .home-section__background
        img(src='img/homeSectionBg_2.jpg' srcset='img/homeSectionBg_2@2x.jpg 2x')
      .home-section__content
        .home-section__title(data-aos="fade-up") Услуги
        .home-section__description(data-aos="fade-up") Группа компаний Рэйс предоставляет услуги высокоскоростного двухстороннего спутникового доступа в Интернет. Сервис запущен в 2008 году под торговой маркой StarBlazer.
        .home-section__cta(data-aos="fade-up")
          a(href="#")
            span Подробнее
        .home-section__bottom
          // navmenu
          .home-section__navmenu.navmenu-home
            .navmenu-home__title(data-aos="fade-up") НАШИ УСЛУГИ
            -
              var servicesList = [
                "Подключение к спутниковым сетям",
                "Поставка оборудования и программного обеспечения",
                "Разработка и внедрение ПО",
                "Техническая поддержка",
                "Аренда оборудования",
                "Консалтинг в сфере ИТ и телеком"
              ]
            .navmenu-home__grid
              each navlink in servicesList
                // col
                .navmenu-home__col(data-aos="fade-up")
                  a(href='#').navmenu-home__link= navlink


  // fp section PROD
  .section
    .home-section
      .home-section__background
        img(src='img/homeSectionBg_3.jpg' srcset='img/homeSectionBg_3@2x.jpg 2x')
      .home-section__content
        .home-section__title(data-aos="fade-up") Продукция
        .home-section__description(data-aos="fade-up") Race communications – российский системный интегратор, работающий на рынках ИТ и Телеком с 1997 года и образованный на базе компаний, существующих с 1992 года.
        .home-section__cta(data-aos="fade-up")
          a(href="#")
            span Подробнее
        .home-section__bottom
          // navmenu
          .home-section__navmenu.navmenu-home
            .navmenu-home__title(data-aos="fade-up") НАША ПРОДУКЦИЯ
            -
              var servicesList = [
                "Мобильные спутниковые комплексы CHAPK",
                "Земные станции спутниковой связи",
                "Спутниковые усилители BUC",
                "Телекоммуникационное оборудование",
              ]
            .navmenu-home__grid
              each navlink in servicesList
                // col
                .navmenu-home__col(data-aos="fade-up")
                  a(href='#').navmenu-home__link= navlink

  // fp section SOLUTIONS
  .section
    .home-section
      .home-section__background
        img(src='img/homeSectionBg_4.jpg' srcset='img/homeSectionBg_4@2x.jpg 2x')
      .home-section__content
        .home-section__title(data-aos="fade-up") Решения
        .home-section__description(data-aos="fade-up") Группа компаний Рэйс предоставляет услуги высокоскоростного двухстороннего спутникового доступа в Интернет. Сервис запущен в 2008 году под торговой маркой StarBlazer.
        .home-section__cta(data-aos="fade-up")
          a(href="#")
            span Подробнее
        .home-section__bottom
          // navmenu
          .home-section__navmenu.navmenu-home
            .navmenu-home__title(data-aos="fade-up") НАШИ РЕШЕНИЯ
            -
              var servicesList = [
                "Корпоративные и ведомственные сети данных",
                "Создание ЗССС “под ключ”",
                "Центры мониторинга и управления сетью",
                "Производство VSAT оборудования",
                "Мультисервисная рассылка",
              ]
            .navmenu-home__grid
              each navlink in servicesList
                // col
                .navmenu-home__col(data-aos="fade-up")
                  a(href='#').navmenu-home__link= navlink
