// fullpage nav
.fullpage-nav
  .fullpage-nav__wrapper

    // actions
    .fullpage-nav__actions
      a(href="mailto:test@me.com").fullpage-nav__action.js-circle-nav
        +svgMono('mail')
      a(href="tel:+74959167223").fullpage-nav__action.js-circle-nav
        +svgMono('phone-outline')
      a(href="#" js-fullpage-top).fullpage-nav__action.js-circle-nav
        +svgMono('arrow-top')

    // dots
    ul.fullpage-nav__dots(js-fullpage-nav)
      li.fullpage-nav__dot.is-active(data-fp-section="1")
      li.fullpage-nav__dot(data-fp-section="2")
      li.fullpage-nav__dot(data-fp-section="3")
      li.fullpage-nav__dot(data-fp-section="4")

    // next
    .fullpage-nav__next
      a(href="#" js-fullpage-next)
        +svgMono('arrow-down-big')
