// news home
.news-home
  padding: 0px 0 60px
  &__title
    margin-top: 1.4em
    font-weight: 500
    font-size: 12px
    text-transform: uppercase
    opacity: 0.6
  &__grid
    display: flex
    flex-wrap: wrap
    margin: 10px -15px -15px
  &__col
    width: 100%
    min-width: 1px
    min-height: 0
    flex: 0 0 $col4
    max-width: $col4
    padding: 15px
    display: flex
    flex-direction: column
  &__card
    flex: 1 0 auto
    display: flex
    flex-direction: column
    &:hover
      .news-home__content
        color: $colorOrange

  &__date
    font-size: 13px
    line-height: 16px

  &__content
    max-width: 350px
    margin-top: 0.8em
    font-weight: 600
    font-size: 16px
    line-height: 1.75
    transition: color .25s $ease

+r($hd)
  .news-home
    margin-right: 50px
    padding-bottom: 40px
    &__content
      max-width: 300px
      font-size: 14px

+r($lg)
  .news-home
    //slider goes here
    margin-right: 0
    &__col
      flex-basis: 300px
      max-width: 300px

+r($sm)
  .news-home
    background: white
    margin-left: -20px
    padding-left: 20px
    padding-bottom: 25px
    color: $fontColor
    &__grid
      margin-top: 0
    &__date
      font-size: 12px
    &__content
      font-size: 14px
    &__card
      &:hover
        .news-home__content
          color: $colorPrimary

+r(414)
  .news-home
    &__col
      // flex-basis: calc(100% - 30px)
      // max-width: calc(100% - 30px)
      flex-basis: 100%
      max-width: 100%
    &__card
      padding-right: 15px
