// titles
.h1-title
  font-size: 70px
  font-weight: 700
  line-height: 1.2

.h2-title
  font-size: 48px
  font-weight: 700

.h3-title
  font-size: 28px
  font-weight: 700


// paragraphs
.p-big
  font-size: 20px
  line-height: 1.65
  font-weight: 600

.p-main
  font-size: 18px

.p-small
  font-size: 14px
  line-height: 1.86


p + p
  margin-top: 1em


+r($lg)
  .h1-title
    font-size: 46px

+r($sm)
  .h1-title
    font-size: 36px


// little inline helpers
.f-400
  font-weight: normal

.f-500
  font-weight: 500

.f-600
  font-weight: 600

.f-700
  font-weight: 700

.f-900
  font-weight: 900

// color modifiers
.c-red
  color: $colorRed


// lists
.ul-list-links
  font-size: 20px
  list-style: none
  margin: 1em 0
  padding: 0
  li
    display: block
    font-weight: 600
    font-size: 18px
    line-height: 1.22
    margin: -10px -10px 30px
    &:last-child
      margin-bottom: 0
  a
    position: relative
    padding: 10px
    padding-right: 40px
    display: inline-block
    transition: color .25s $ease
    &::after
      display: inline-block
      content: ' '
      position: absolute
      right: 0px
      top: 50%
      transform: translateY(-50%)
      size: 17px 9px
      background: svg-load('../icons/svg-mono/btn-arrow-next.svg', fill=$colorPrimary) no-repeat center
      background-size: contain
      transition: transform .25s $ease

    &:hover
      color: $colorOrange
      &::after
        transform: translate(7px, -50%)

/* lists
.ul-list, .ol-list
  padding: 0
  // TODO ul styles are not quite here.
  li
    position: relative
    display: block
    font-weight: 500
    font-size: 14px
    line-height: 1.86
    padding: 1em
    margin-bottom: 10px
    &:last-of-type
      margin-bottom: 0
    &::before
      position: absolute
      top: 0
      left: 0.65em
      display: inline-block

  &--bordered
    li
      border: 1px solid $borderColor


.ul-list
  li
    &::before
      content: '—'

.ol-list
  counter-reset: ol-counter
  li
    counter-increment: ol-counter
    padding: 0.8em 48px 1.2em 48px
    &::before
      content: counter(ol-counter)
      font-weight: bold
      font-size: 24px
      color: #32A457

ul.ul-list, ol.ol-list
  margin: 2.5em 0

// +r($lg)
//   .ul-list, .ol-list
//     li
//       font-size: 14px

// +r($sm)
//   .ul-list, .ol-list
//     li
//       font-size: 12px
