// titles
.h1-title
  font-size: 70px
  font-weight: 700
  line-height: 1.2

.h2-title
  font-size: 48px
  font-weight: 700

.h3-title
  font-size: 28px
  font-weight: 700

// paragraphs
.p-big
  font-size: 20px
  line-height: 1.65
  font-weight: 600

.p-main
  font-size: 18px

.p-small
  font-size: 14px
  line-height: 1.86

p + p
  margin-top: 1em

+r($hd)
  .h1-title
    font-size: 54px
  .p-big
    font-size: 18px

+r($xl)
  .p-big
    margin-top: 21px
    line-height: 1.7

+r($lg)
  .h1-title
    font-size: 45px

+r($md)
  .h1-title
    font-size: 40px
  .p-big
    font-size: 16px
    margin-top: 13px
    line-height: 1.65
    margin-bottom: 0

+r($sm)
  .h1-title
    font-size: 24px


// little inline helpers
.f-400
  font-weight: normal

.f-500
  font-weight: 500

.f-600
  font-weight: 600

.f-700
  font-weight: 700

.f-900
  font-weight: 900

// color modifiers
.c-red
  color: $colorRed


// lists
.ul-list-links
  font-size: 20px
  list-style: none
  margin: 1em 0
  padding: 0
  li
    display: block
    font-weight: 600
    font-size: 18px
    line-height: 1.22
    margin: -10px -10px 31px
    &:last-child
      margin-bottom: 0
  a
    position: relative
    padding: 10px
    padding-right: 37px
    display: inline-block
    transition: color .25s $ease
    &::after
      display: inline-block
      content: ' '
      position: absolute
      right: 0px
      top: 50%
      transform: translateY(-50%)
      size: 17px 9px
      background: svg-load('../icons/svg-mono/btn-arrow-next.svg', fill=$colorPrimary) no-repeat center
      background-size: contain
      transition: transform .25s $ease

    &:hover
      color: $colorOrange
      &::after
        transform: translate(7px, -50%)

+r($lg)
  .ul-list-links
    li
      margin-bottom: 13px
      font-size: 16px
      line-height: 1.25

+r($sm)
  .ul-list-links
    margin: 0
    li
      font-size: 14px
      line-height: 1.2
      margin: 0 0 2px 0
      a
        padding: 17px 40px 17px 0
        border-bottom: 1px solid $borderColor
        width: 100%
        &::after
          right: 2px



/* lists
.ul-list, .ol-list
  margin: 0
  padding: 0
  // TODO ul styles are not quite here.
  li
    position: relative
    display: block
    font-weight: 500
    font-size: 14px
    line-height: 1.86
    padding: 0.3em 1em
    margin-bottom: 10px
    &:last-of-type
      margin-bottom: 0
    &::before
      position: absolute
      top: 0
      left: 0
      display: inline-block

  &--bordered
    li
      border: 1px solid $borderColor


.ul-list
  li
    padding: 0em 12px 0em 24px
    &::before
      content: " "
      top: 8px
      size: 10px 8px
      background: svg-load('../icons/svg-mono/checkmark.svg', fill=$colorPrimary) no-repeat center
      background-size: cover

.ol-list
  counter-reset: ol-counter
  li
    counter-increment: ol-counter
    padding: 0.8em 48px 1.2em 48px
    &::before
      content: counter(ol-counter)
      left: 0.65em
      font-weight: bold
      font-size: 24px
      color: #32A457

+r($xl)
  .ol-list
    li
      padding-right: 12px

+r($lg)
  .ol-list
    li
      font-size: 12px
      padding-top: 13px
      padding-bottom: 15px


// +r($lg)
//   .ul-list, .ol-list
//     li
//       font-size: 14px

// +r($sm)
//   .ul-list, .ol-list
//     li
//       font-size: 12px
