include ../breadcrumbs/_breadcrumbs

// HERO
.hero
  .bc-container.bc-container--border-white(data-aos="fade-down")
    +breadcrumbs(["Главная", "О компании"])

  .hero__background(data-aos="blur")
    img(src='img/heroBackground_4.jpg' srcset='img/heroBackground_4@2x.jpg 2x')
  .hero__content(data-aos="fade-up")
    .container
      h1.h1-title.hero__title(data-aos="fade-up") О компании
      p.p-big.hero__description(data-aos="fade-up") Группа компаний РЭЙС создана в 2007 году с целью совместного продвижения продукции и услуг на телекоммуникационном рынке России и зарубежья.
