include ../breadcrumbs/_breadcrumbs

// HERO
.hero
  .bc-container.bc-container--border-white(data-aos="fade-down")
    +breadcrumbs(["Главная", "Решения"])

  .hero__background.hero__background--product(data-aos="blur")
    img(src='img/heroBackground_3.jpg' srcset='img/heroBackground_3@2x.jpg 2x')
    img(src='img/heroBackground_3--mob.jpg')
  .hero__content(data-aos="fade-up")
    .container.container-xl
      h1.h1-title.hero__title(data-aos="fade-up") Решения
      p.p-big.hero__description(data-aos="fade-up") Успешное функционирование современной компании прямо зависит от доступности и актуальности информации, обеспечивающей технологические и бизнес процессы.
