// ARTICLE
.article
  max-width: 1080px
  margin: 0 auto
  padding: 100px 40px 100px
  &__title
    margin: 0 -135px 0 0
    &--compact
      margin-right: 0
      font-size: 40px
  &__wrapper
    display: flex
    margin: 0 -15px
  &__content, &__sidebar
    width: 100%
    min-width: 1px
    min-height: 0
    padding: 0 15px
    // outline: 1px solid red
  &__content
    flex: 1 1 100%
    max-width: 100%
    padding-right: 30px

  &__sidebar
    flex: 0 0 370px
    max-width: 370px
    margin-right: -135px

  &--full-width
    max-width: 100%
    position: relative
    padding: 0 0

  &__contacts
    margin: 24px 0
    display: flex
    flex-direction: column
  &__contact-address
    display: inline-block
    font-weight: 600
    font-size: 20px
    line-height: 1.65
    transition: color .25s $ease
    span
      display: inline
      margin-right: 0.5em
    .ico
      transform: translateY(0.3em)
      fill: $colorOrange
      font-size: 20px
      transition: transform .25s $ease
    &:hover
      color: $colorPrimary
      .ico
        transform: translateY(0.3em) scale(1.2)

  &__contact-phone
    display: inline-block
    margin: 0.8em 0 0.5em
    font-weight: 700
    font-size: 30px
    transition: color .25s $ease
    &:hover
      color: $colorPrimary

  &__contact-mail
    display: inline-block
    font-weight: 500
    font-size: 18px
    line-height: 17px
    color: $colorOrange
    transition: color .25s $ease
    &:hover
      color: $colorPrimary

  // нужно вынести в отдельный блок ?
  &__cosmo
    max-width: 1080px
    margin: 75px auto 0
    padding: 220px 40px 420px
    &-bg
      position: absolute 0
      display: flex
      flex-direction: column
      z-index: 1
      img
        flex: 1 1 auto
        width: 100%
        height: 100%
        object-fit: cover

    .article__wrapper
      max-width: 795px
      position: relative
      z-index: 2
    &-top
      .wysiwyg
        h2
          color: #fff
          margin-top: 0
        p
          color: #fff
          margin-top: 0px
          line-height: 1.7

    &-bottom
      margin-top: 415px

  &__datetime
    font-size: 13px
    line-height: 1.23
    color: #BDBDBD
    margin: 1.5em 0 1em

  &--century
    p
      max-width: 73%

+r($hd)
  .article
    max-width: 1060px
    padding: 70px 40px
    &__title
      margin-right: 0
      &--compact
        font-size: 33px
    &__content
      padding-right: 5px
    &__sidebar
      flex-basis: 310px
      max-width: 310px
      margin-right: 0
    &--full-width
      max-width: 100%
      padding: 0
    &__cosmo
      max-width: 1060px
      margin-top: 15px
      padding: 160px 40px 400px
      margin-bottom: -70px
      .article__wrapper
        max-width: 705px
      &-top
        .wysiwyg
          p
            margin-top: 10px
          .p-big
            font-size: 18px
      &-bottom
        margin-top: 310px


+r($xl)
  .article
    padding: 115px 40px 20px
    &__title
      max-width: calc(100% - 325px)
      &--compact
        max-width: 100%
        font-size: 28px
    &__content
      padding-right: 15px
    &--full-width
      padding: 0
    &__cosmo
      margin-top: 65px
      padding-bottom: 290px
      margin-bottom: -80px
      .article__wrapper
        max-width: 70%
      &-top
        .wysiwyg
          p
            margin-top: 20px
      &-bottom
        margin-top: 145px

+r($lg)
  .article
    padding-top: 106px
    padding-bottom: 14px
    &__title
      max-width: 100%
      &--compact
        font-size: 24px
    &__sidebar
      display: none
    &--full-width
      padding: 0
    &__cosmo
      margin-top: 70px
      padding-top: 120px
      margin-bottom: -70px
      padding-bottom: 340px
      .article__wrapper
        max-width: 100%
      &-top
        .wysiwyg
          p
            margin-top: 10px
            line-height: 1.65
          .p-big
            font-size: 16px
      &-bottom
        margin-top: 190px

    &__datetime
      font-size: 12px
    &--century
      p
        max-width: 100%

+r($md)
  .article
    padding: 90px 40px 0px
    &--full-width
      padding: 0
    &__contacts
      margin-bottom: 40px
    &__contact-address
      font-size: 14px
    &__contact-phone
      font-size: 20px
      margin-bottom: 1em
    &__contact-mail
      font-size: 14px
    &__cosmo
      margin-top: 35px
      padding: 50px 40px 250px
      margin-bottom: -90px
      &-top
        .wysiwyg
          .p-big
            font-size: 14px
      &-bottom
        margin-top: 170px

+r($sm)
  .article
    padding: 90px 16px 0px
    &--full-width
      padding: 0
    &__cosmo
      margin-top: 35px
      padding: 30px 15px 270px
      margin-bottom: -90px

