// CONTENT
include ../breadcrumbs/_breadcrumbs
include _partials/_sidebar

.content
  .bc-container
    +breadcrumbs(["Главная", "О компании", "Лицензии и сертификаты"])

  // article
  article.article
    h1.h1-title.article__title(data-aos="fade-up") Лицензии и сертификаты
    .article__wrapper
      // article content
      .article__content
        // caption
        p.p-big(data-aos="fade-up") «Рэйс-Коммуникейшн» имеет все виды государственных лицензий и сертификатов, необходимых для работы в области системной интеграции, строительства инженерных систем и предоставления услуг связи.

        include ../sertificates/_sertificates

      // sidebar
      +sidebarMenu([
        {name: "История компании"},
        {name: "Инфраструктура"},
        {name: "Клиенты и партнеры"},
        {name: "Лицензии и сертификаты", active: true},
        {name: "Работа у нас"},
        {name: "Новости"},
        {name: "Контакты"}
      ])
