// CONTENT
.content
  margin: 60px 0 95px

.wysiwyg
  h3
    font-weight: 600
    font-size: 16px
    line-height: 1.5
    text-transform: uppercase
  p
    font-size: 14px
    line-height: 1.86
    color: #4F4F4F
