// CONTENT
include ../breadcrumbs/_breadcrumbs
include _partials/_sidebar

.content
  .bc-container
    +breadcrumbs(["Главная", "О компании", "История компании"])

  // article
  article.article
    h1.h1-title.article__title(data-aos="fade-up") История компании
    .article__wrapper

      // article content
      .article__content
        // caption
        p.p-big(data-aos="fade-up") Коллектив «Рэйс-Коммуникейшн» сложился в начале 90-х годов, когда в России стал формироваться компьютерный рынок.

        .wysiwyg.wysiwyg--primary(data-aos="fade-up")
          p Зарождающемуся банковскому сектору требовался доступ к сети межбанковского обмена сообщениями SWIFT, к сетям передачи телексов. Коммерческим структурам была необходима связь по электронной почте. Всем без исключения требовались модемы, способные работать на российских телефонных линиях.
          figure
            img(js-lazy data-src='img/historyArticle_1.jpg' data-srcset='img/historyArticle_1@2x.jpg 2x')
          p Телекоммуникационная специализация компании началась с поставок исключительно удачных для российских условий модемов марки
            b  MaxCom
            |  для сети
            b  Sprint.
            |  Следующим шагом стала разработка собственного  программного обеспечения
            b  RC-Link
            |  для работы с электронной почтой. С августа
            b  1994
            |  года компания стала работать под торговой маркой
            b  Race Communications.

          h2 Системная интеграция
          p До конца
            b  90
            |  -х бизнес
            b  «Рэйс-Коммуникейшн» развивается в соответствии с тенденциями мирового рынка телекоммуникаций:
            |  строительство сетей, работающих по протоколам
            b  X.25, Frame Relay, xDSL, IP. Компания получает статусы авторизованного партнера ведущих производителей телекоммуникационного оборудования.
          .row
            .col-12.col-sm-6
              figure
                img(js-lazy data-src='img/historyArticle_2.jpg' data-srcset='img/historyArticle_2@2x.jpg 2x')
            .col-12.col-sm-6
              figure
                img(js-lazy data-src='img/historyArticle_1.jpg' data-srcset='img/historyArticle_3@2x.jpg 2x')
          p
            b С 1996 года компания занимается системной интеграцией и строительством мультисервисных сетей для своих клиентов,
            |  с предоставлением сервисов телефонии и видеоконференц-связи, с
            b  1997
            |  –  разработкой защищенных
            b  IP
            | -сетей для корпоративных заказчиков.
            b  В 1999 году на базе учебного центра компании открывается Сетевая академия Cisco Systems.
          p.p-big В 2000-м году Race Communications впервые в России проводит трансляцию медицинской операции в режиме реального времени по сети видеоконференц-связи.
          p Продолжает расти клиентская база компании, запущена система автоматизированного контроля запросов для службы технической поддержки.
            b  В конце 2002 года закончена разработка первой версии системы контроля подвижных объектов WebLocator.

          h2 Строительство
          p.p-big Рост количества сотрудников и потребность в новом офисе плавно привели «Рэйс-Коммуникейшн» к строительству собственного бизнес-центра.
          p Проект делового центра категории А
            b 1
            |   – один из первых офисных проектов Москвы, расположенный прямо за МКАД, – получил название «Кантри Парк». Телекоммуникационная часть проекта реализована
            b  Race Communications
            |  на базе оборудования
            b  Cisco Systems
            |  и
            b  AVAYA.
          p
            b Впервые в России телефонизация комплекса была построена на базе новейших IP-технологий,
            |  и предоставляла арендаторам дополнительные информационные сервисы – системы голосовой почты, центры обработки вызовов, услуги беспроводного мобильного доступа на территории здания и окружающего парка.
            b  В 2005 году компания переезжает в свой новый офис в Деловом центре Кантри Парк.
          figure
            img(js-lazy data-src='img/historyArticle_4.jpg' data-srcset='img/historyArticle_4@2x.jpg 2x')
          p Опыт строительства телекоммуникационных и инженерных систем
            b  18
            | -этажного здания приводит к росту числа проектов строительства коммуникационных центров, центров мониторинга и управления сетями для корпоративных заказчиков.

          // TODO - spacer section missing

      // sidebar
      +sidebarMenu([
        {name: "История компании", active: true},
        {name: "Инфраструктура"},
        {name: "Клиенты и партнеры"},
        {name: "Лицензии и сертификаты"},
        {name: "Работа у нас"},
        {name: "Новости"},
        {name: "Контакты"}
      ])
  article.article.article--full-width
    .article__cosmo
      .article__cosmo-bg(data-aos="blur")
        img(src='img/article-cosmo.jpg' srcset='img/article-cosmo@2x.jpg 2x')
      .article__wrapper
        .article__content
          .article__cosmo-top(data-section-color="is-section-dark")
            .wysiwyg.wysiwyg--primary
              h2 Ближе к космосу
              p.p-big В 2004 году закончено строительство спутниковой сети SPIN на оборудовании LinkStar. Сеть предоставляет услуги телефонии, высокоскоростного доступа в интернет, передачи данных и видео.
              p.p-big В 2005 году начато строительство третьей очереди системы спутниковой связи Сбербанка России. В качестве космического сегмента сети используется спутник Экспресс-АМ2, принадлежащий национальному оператору спутниковой связи ФГУП «Космическая связь».
          .article__cosmo-bottom(data-section-color="is-section-white")
            .wysiwyg.wysiwyg--primary
              p Развивается направление систем позиционирования:
                b  в 2005 году ОАО «МТС» совместно с Race Communications запустили услугу «Мобильные сотрудники»
                |  для определения местоположения и координации сотрудников и транспорта компаний малого и среднего бизнеса.
                b  В 2008 году запущен проект StarBlazer:
                |  спутниковый интернет для частных пользователей и малого бизнеса.
              p В последующие годы
                b  компанией построено более 30 центральных земных станций спутниковой связи (ЦЗС), центры мониторинга и управления сетями, объекты связи и VSAT-станции практически во всех регионах России,
                |  включая районы Крайнего Севера.
                b  С 2012 года ведется разработка мобильных спутниковых комплексов серии СНАРК,
                |  для их производства построен собственный завод в Московской области.
  article.article.article--century
    .wysiwyg.wysiwyg--primary
      h2 Двадцать первый век
      p.p-big Сегодня «Рэйс-Коммуникейшн» по-прежнему отличается оперативной реакцией на потребности заказчика. Строятся новые телепорты и узлы связи, возводится второй корпус завода по производству спутниковых комплексов СНАРК и усилителей-преобразователей BUC.
      figure
        img(js-lazy data-src='img/historyArticle_5.jpg' data-srcset='img/historyArticle_5@2x.jpg 2x')
      p Компания занимается системной интеграцией в области наземной и спутниковой связи, осуществляет работы по проектированию и строительству сетей, каналов связи, узловых и центральных станций спутниковой связи, VSAT-станций; имеет огромный опыт строительства объектов связи в удаленных районах России.
        b  «Рэйс-Коммуникейшн» активно ведет собственную  разработку специального  программного  обеспечения
        |  в области  мониторинга и управления сетями, контроля и оптимизации передачи данных по спутниковым сетям и т.п.
      p Для повышения эффективности работы разных направлений бизнеса в
        b  2007
        |  году создана группа компаний РЭЙС. Все компании группы занимаются разными направлениями телекоммуникаций, в том числе представлением услуг спутниковой связи
        b  B2B
        |  и
        b  B2C.
      p
        b Оглядываясь назад, «Рэйс-Коммуникейшн» с гордостью повторяет свой старый девиз: «Мы строим телекоммуникации». И идет вперед.
