// CONTENT
include ../breadcrumbs/_breadcrumbs
include _partials/_sidebar

.content
  .content__breadcrumbs
    +breadcrumbs(["Главная", "О компании", "История компании"])

  // article
  article.article
    h1.h1-title.article__title(data-aos="fade-up") История компании
    .article__wrapper
      // article content
      .article__content
        // caption
        p.p-big(data-aos="fade-up") Коллектив «Рэйс-Коммуникейшн» сложился в начале 90-х годов, когда в России стал формироваться компьютерный рынок.

        .wysiwyg(data-aos="fade-up")
          p Зарождающемуся банковскому сектору требовался доступ к сети межбанковского обмена сообщениями SWIFT, к сетям передачи телексов. Коммерческим структурам была необходима связь по электронной почте. Всем без исключения требовались модемы, способные работать на российских телефонных линиях.
          figure
            img(js-lazy data-src='img/historyArticle_1.jpg' data-srcset='img/historyArticle_1@2x.jpg 2x')

          h2 Системная интеграция
          p До конца 90-х бизнес «Рэйс-Коммуникейшн» развивается в соответствии с тенденциями мирового рынка телекоммуникаций: строительство сетей, работающих по протоколам X.25, Frame Relay, xDSL, IP. Компания получает статусы авторизованного партнера ведущих производителей телекоммуникационного оборудования.
          .row
            .col-12.col-md-6
              figure
                img(js-lazy data-src='img/historyArticle_2.jpg' data-srcset='img/historyArticle_2@2x.jpg 2x')
            .col-12.col-md-6
              figure
                img(js-lazy data-src='img/historyArticle_1.jpg' data-srcset='img/historyArticle_3@2x.jpg 2x')
          p С 1996 года компания занимается системной интеграцией и строительством мультисервисных сетей для своих клиентов, с предоставлением сервисов телефонии и видеоконференц-связи, с 1997 –  разработкой защищенных IP-сетей для корпоративных заказчиков. В 1999 году на базе учебного центра компании открывается Сетевая академия Cisco Systems.
          p.p-big В 2000-м году Race Communications впервые в России проводит трансляцию медицинской операции в режиме реального времени по сети видеоконференц-связи.
          p Продолжает расти клиентская база компании, запущена система автоматизированного контроля запросов для службы технической поддержки. В конце 2002 года закончена разработка первой версии системы контроля подвижных объектов WebLocator.

          h2 Строительство
          p Рост количества сотрудников и потребность в новом офисе плавно привели «Рэйс-Коммуникейшн» к строительству собственного бизнес-центра.
          p Проект делового центра категории А1 – один из первых офисных проектов Москвы, расположенный прямо за МКАД, – получил название «Кантри Парк». Телекоммуникационная часть проекта реализована Race Communications на базе оборудования Cisco Systems и AVAYA.
          p Впервые в России телефонизация комплекса была построена на базе новейших IP-технологий, и предоставляла арендаторам дополнительные информационные сервисы – системы голосовой почты, центры обработки вызовов, услуги беспроводного мобильного доступа на территории здания и окружающего парка. В 2005 году компания переезжает в свой новый офис в Деловом центре Кантри Парк.
          figure
            img(js-lazy data-src='img/historyArticle_4.jpg' data-srcset='img/historyArticle_4@2x.jpg 2x')
          p Опыт строительства телекоммуникационных и инженерных систем 18-этажного здания приводит к росту числа проектов строительства коммуникационных центров, центров мониторинга и управления сетями для корпоративных заказчиков.

          // TODO - spacer section missing

          h2 Двадцать первый век
          p Сегодня «Рэйс-Коммуникейшн» по-прежнему отличается оперативной реакцией на потребности заказчика. Строятся новые телепорты и узлы связи, возводится второй корпус завода по производству спутниковых комплексов СНАРК и усилителей-преобразователей BUC.
          figure
            img(js-lazy data-src='img/historyArticle_5.jpg' data-srcset='img/historyArticle_5@2x.jpg 2x')
          p Компания занимается системной интеграцией в области наземной и спутниковой связи, осуществляет работы по проектированию и строительству сетей, каналов связи, узловых и центральных станций спутниковой связи, VSAT-станций; имеет огромный опыт строительства объектов связи в удаленных районах России. «Рэйс-Коммуникейшн» активно ведет собственную  разработку специального  программного  обеспечения  в области  мониторинга и управления сетями, контроля и оптимизации передачи данных по спутниковым сетям и т.п.
          p Для повышения эффективности работы разных направлений бизнеса в 2007 году создана группа компаний РЭЙС. Все компании группы занимаются разными направлениями телекоммуникаций, в том числе представлением услуг спутниковой связи B2B и B2C.
          p Оглядываясь назад, «Рэйс-Коммуникейшн» с гордостью повторяет свой старый девиз: «Мы строим телекоммуникации». И идет вперед.

      // sidebar
      +sidebarMenu([
        {name: "История компании", active: true},
        {name: "Инфраструктура"},
        {name: "Клиенты и партнеры"},
        {name: "Лицензии и сертификаты"},
        {name: "Работа у нас"},
        {name: "Новости"},
        {name: "Контакты"}
      ])
