// CONTENT
include ../breadcrumbs/_breadcrumbs
include _partials/_sidebar

.content
  .content__breadcrumbs
    +breadcrumbs(["Главная", "О компании", "Инфраструктура"])

  // article
  article.article
    h1.h1-title.article__title(data-aos="fade-up") Инфраструктура
    .article__wrapper
      // article content
      .article__content
        // caption
        p.p-big(data-aos="fade-up") Компания «Рэйс-Коммуникейшн» имеет возможность предоставлять услуги связи корпоративным и ведомственным заказчикам на базе собственных спутниковых и оптических каналов связи.

        .wysiwyg.wysiwyg--primary(data-aos="fade-up")
          p Технические средства «Рэйс-Коммуникейшн» включают девять телепортов, сети VSAT-станций, телекоммуникационные узлы связи. Предоставляются услуги аренды спутниковых каналов связи, передачи данных, видео, голоса и широкополосный доступ в интернет.
          p Зарождающемуся банковскому сектору требовался доступ к сети межбанковского обмена сообщениями SWIFT, к сетям передачи телексов. Коммерческим структурам была необходима связь по электронной почте. Всем без исключения требовались модемы, способные работать на российских телефонных линиях.

          h2 Телепорты и VSAT-сети
          p Компания эксплуатирует телепорты (спутниковые HUB-ы) в Московской области, в Якутске и Хабаровске. Через центральные стации подключено около 4000 терминальных земных станций, объединенных в 8 спутниковых сетей. Телепорты соединены скоростными резервированными оптическими каналами с интернет узлами национальных провайдеров и центральными станциями обмена трафиком.

          h2 Спутники
          p Спутниковые сети «Рэйс-Коммуникейшн» работают на оборудовании LinkStar и Eastar и используют ресурс геостационарных космических аппаратов Экспресс-АМ5 (140 в.д.), Ямал-401 (90 в.д.), Экспресс-АМ7 (40 в.д.), Экспресс-АМ8 (14 з.д.), Eutelsat KA-SAT 9A (9 в.д.).
          p Суммарная зона покрытия охватывает всю территорию России. Компания имеет опыт проектирования и установки VSAT-станций (ТЗС) в высоких широтах, в том числе на Новой земле, Земле Франца Иосифа, Новосибирских островах. Для работы в северных районах страны применяется оборудование с высокой надежностью, а также защитные конструкции (купола).

          h2 Сервис и поддержка
          p Компания имеет круглосуточную службу технической поддержки 24х7. В работе техподдержки широко применяются различные системы управления и мониторинга спутниковых сетей, в том числе специализированная система мониторинга, контроля и управления трафиком собственной разработки.

      // sidebar
      +sidebarMenu([
        {name: "История компании"},
        {name: "Инфраструктура", active: true},
        {name: "Клиенты и партнеры"},
        {name: "Лицензии и сертификаты"},
        {name: "Работа у нас"},
        {name: "Новости"},
        {name: "Контакты"}
      ])
