// CONTENT
include ../breadcrumbs/_breadcrumbs
include _partials/_sidebar

.content
  .content__breadcrumbs
    +breadcrumbs(["Главная", "О компании", "Новости", "Страница новости"])

  // article
  article.article
    h1.h1-title.article__title(data-aos="fade-up") Специалисты Группы компаний приняли участие в «SATCOMRUS 2018: SMART SATELLITE – идеи и инновации».
    .article__wrapper
      // article content
      .article__content

        .wysiwyg(data-aos="fade-up")
          figure
            img(js-lazy data-src='img/newsArticle.jpg' data-srcset='img/newsArticle@2x.jpg 2x')

          p ГК «РЭЙС» приняла участие в 31-й ежегодной Международной выставке информационных и коммуникационных технологий «Связь-2019», которая проходила 23-26 апреля 2019 г. в Москве, в Центральном выставочном комплексе «Экспоцентр» в рамках «Российской недели высоких технологий».
          p Это крупнейшее мероприятие отрасли, которое объединило деловую программу и выставочную экспозицию под общей концепцией – «Цифровая трансформация». В выставке приняли участие 159 российских компаний, а всего для участия в форуме зарегистрировалось 398 фирм и предприятий из 15 стран.
          p ГК «РЭЙС» представила на стенде свою продукцию – носимые станции спутниковой связи серии СНАРК, а также усилители мощности (BUC) KU и C –диапазонов производства ALGA Microwave. Представители ГК «РЭЙС» провели презентацию отечественных разработок, в том числе новейших, в рамках форума проводимого ФГУП «Космическая связь».

      // sidebar
      +sidebarMenu([
        {name: "История компании"},
        {name: "Инфраструктура"},
        {name: "Клиенты и партнеры"},
        {name: "Лицензии и сертификаты"},
        {name: "Работа у нас"},
        {name: "Новости", active: true},
        {name: "Контакты"}
      ])
