// CONTENT
.content.content--production
  .container
    .row.row-border-bottom.row--production
      .col-12.col-md-11
        .wysiwyg(data-aos="fade-up")
          h2 Спутниковые сети позволяют пользователям получить доступ к услугам связи в первую очередь там, где использование наземных каналов не оправдано экономически или невозможно в принципе.
          p Группа компаний Race предлагает как строительство спутниковых систем для корпоративных заказчиков “под ключ”, так и услуги передачи данных на основе уже построенных собственных спутниковых сетей на всей территории России и стран СНГ с использованием частотного ресурса на спутниках ГПКС и Intelsat.
