// CONTENT
-
  var list = [
    "Подключение к спутниковым сетям",
    "Поставка оборудования и программного обеспечения",
    "Разработка и внедрение ПО",
    "Техническая поддержка",
    "Аренда оборудования",
    "Консалтинг в сфере ИТ и телеком",
    "Проектирование и строительство"
  ]
.content(data-aos="fade-up")
  .container
    .row.row-border-bottom
      .col-12.col-md-7(data-aos="fade-up")
        ul.ul-list-links
          each li in list
            li
              a(href="#")
                span= li
                i.ul-ico-arrow
      .col-12.col-md-5.col-border-left(data-aos="fade-up")
        .wysiwyg
          p <strong>StarBlazer</strong> предоставляет качественный спутниковый интернет на базе узлов фиксированной связи ООО Евроком. Особенностью и преимуществом спутниковой сети <strong>StarBlazer</strong> является полностью интегрированная система, включающая собственные оптические каналы до большинства крупных операторов Интернета в Москве на разных площадках и центральный узел спутниковой связи Евроком. Структура сети гарантирует полный контроль провайдера над оборудованием и параметрами спутникового канала, круглосуточную техническую поддержку, и, как следствие, позволяет обеспечить высокоскоростной и надежный доступ с хорошим качеством сервиса.
