// CONTENT
include ../breadcrumbs/_breadcrumbs
include _partials/_sidebar

.content
  .content__breadcrumbs
    +breadcrumbs(["Главная", "Услуги", "Техническая поддержка"])

  // article
  article.article
    h1.h1-title.article__title(data-aos="fade-up") Техническая поддержка
    .article__wrapper
      // article content
      .article__content
        // caption
        p.p-big(data-aos="fade-up") Группа компаний Race предлагает клиентам широкий спектр услуг по предоставлению круглосуточной технической поддержки наземных и спутниковых сетей передачи данных, а также по ремонту и замене оборудования различных производителей.

        div(js-stick-to-window data-position="left" data-stop="<992")
          img.img-w100(js-lazy data-src='img/articleImage_1.jpg' data-srcset='img/articleImage_1@2x.jpg 2x')

        .wysiwyg(data-aos="fade-up")
          ol.ol-list.ol-list--bordered
            li Техническая поддержка по телефону, факсу или электронной почте в стандартные бизнес-часы или круглосуточно; консультации по подключению, настройке и обслуживанию оборудования.
            li Платный выезд сервисного инженера на объект заказчика без заключения договора о предоставлении сервисного обслуживания.
            li Гарантийный ремонт оборудования в течение 10 недель.
            li Выезд сервисного инженера на объект заказчика.
            li Различные варианты замены оборудования, включая срочную опережающую замену в течение 4-х часов вне зависимости от дня недели и времени суток.
            li Доставка неисправного оборудования в сервисный центр группы компаний Race.
            li Доставка оборудования после ремонта или замены на объект заказчика.
            li Платный однократный ремонт оборудования по окончании гарантийного срока.
            li Платная разовая инспекция оборудования на объекте заказчика.

          figure
            img(js-lazy data-src='img/articleImage_2.jpg' data-srcset='img/articleImage_2@2x.jpg 2x')
          p Для получения услуг технической поддержки клиенту необходимо заключить договор о предоставлении сервисного обслуживания, в котором оговаривается тип и количество оборудования, описание предоставляемых услуг и время обслуживания. Возможна постановка на поддержку оборудования, приобретенного у других поставщиков.
          p При наличии у клиента Договора о предоставлении сервисного обслуживания обращение в службу технической поддержки осуществляется по специально выделенному телефоному номеру. Данный номер круглосуточно обслуживается оператором службы технической поддержки группы компаний Race, регистрирующим поступающие заявки и эскалирующим проблемы в службе технической поддержки. Запрос на техническую поддержку также может быть оправлен на специальный адрес электронной почты, где он немедленно по поступлении будет принят и зарегистрирован оператором.
          p При отсутствии Договора о предоставлении сервисного обслуживания клиент может получить послепродажную поддержку в форме консультаций по телефону или по электронной почте в стандартные бизнес-часы.
          p Если проблема не может быть решена силами инженеров группы компаний Race в заданные в соответствии с приоритетом временные рамки, заявка передается в службы технической поддержки соответствующих производителей оборудования, где регистрируется в соответствии с правилами, принятыми данным производителем. Заявка может быть передана в службы технической поддержки производителей непосредственно после регистрации, если проблема очевидно не может быть решена силами инженеров группы компаний Race.
          p Одним из новых направлений технической поддержки является поддержка пользователей спутникового доступа в Интернет StarBlazer. Инженеры службы поддержки своевременно отслеживают появление новых обращений пользователей услуги и отвечают на вопросы через отдельный интерфейс поддержки пользователей услуги или на форумах StarBlazer

      // sidebar
      +sidebarMenu([
        {name: "Подключение к спутниковым сетям"},
        {name: "Поставка оборудования и программного обеспечения"},
        {name: "Разработка и внедрение ПО"},
        {name: "Техническая поддержка", active: true},
        {name: "Аренда оборудования"},
        {name: "Консалтинг в сфере ИТ и телеком"}
      ])
