// CONTENT
include ../breadcrumbs/_breadcrumbs
include _partials/_sidebar

.content
  .bc-container
    +breadcrumbs(["Главная", "Решения", "Мультисервисная рассылка"])

  // article
  article.article
    h1.h1-title.article__title(data-aos="fade-up") Мультисервисная рассылка
    .article__wrapper
      // article content
      .article__content
        // caption
        p.p-big(data-aos="fade-up") Крупным организациям, имеющим сеть филиалов или подразделений, достаточно часто необходимо обеспечить удаленные объекты большим объемом данных (базы данных, большие файлы, дистрибутивы ПО, а также аудио и видео информация).

        .wysiwyg.wysiwyg--solutions.mt-4.mt-xl-1(data-aos="fade-up")
          p Рассылка больших объемов данных по электронной почте и/или получение их с корпоративного сервера не всегда является наилучшим решением данной задачи, особенно в случаях, когда такая рассылка ограничивается существующими ресурсами (пропускной способностью каналов связи, возможностями электронной почты, строгими требованиями по времени доставки и т.п.). Наиболее эффективным решением данной задачи является использование специализированного программного обеспечения. К такому программному обеспечению относится Система циркулярной рассылки данных (Система ЦРД).
          p Система ЦРД может осуществлять как централизованную спутниковую доставку данных многим абонентам одновременно из единого центра через спутниковые сети передачи данных, так и передачу данных с серверов в режиме один к одному с использованием технологий, повышающих надежность и скорость передачи данных на сложных наземных каналах связи.

          h3.mt-4.mt-lg-2 Применение системы позволяет:
          ol.ol-list.ol-list--bordered.mt-0.mb-0
            li Существенно уменьшить требуемые сетевые ресурсы и время в тех случаях, когда требуется рассылка одинаковых больших объемов данных многим абонентам одновременно (обновления программного обеспечения, баз данных, объемные документы и т.п.). Вместо того, что рассылать данные каждому абоненту, они доставляются всем адресатам при однократной передаче.
            li Максимально эффективно использовать доступные наземные каналы данных. Эффективность достигается за счет достижения максимальной доступной скорости передачи данных в сетях с высокими задержками и пропаданием пакетов данных. К таким сетям можно отнести как распределенные сети <strong>(WAN)</strong> организаций, так и передачу данных поверх сети Интернет.

      // sidebar
      +sidebarMenu([
        {name: "Корпоративные и ведомственные сети данных"},
        {name: "Создание ЭССС “под ключ”"},
        {name: "Центры мониторинга и управления сетью"},
        {name: "Производство VSAT оборудования"},
        {name: "Мультисервисная рассылка", active: true}
      ])

