// CONTENT
.content
  .container
    .row.row-border-bottom
      .col-12.col-md-7(data-aos="fade-up")
        -
          var list = [
            "Корпоративные и ведомственные сети данных",
            "Создание ЗССС “под ключ”",
            "Центры мониторинга и управления сетью",
            "Производство VAST оборудования",
            "Мультисервисная рассылка"
          ]
        ul.ul-list-links
          each li in list
            li
              a(href="#")
                span= li
                i.ul-ico-arrow

      .col-12.col-md-5.col-border-left(data-aos="fade-up")
        .wysiwyg.mt-md-3
          p Фундаментом для внедрения новых сервисов, позволяющих более эффективно организовать работу сотрудников различных служб, выступают интеллектуальные сети и системы передачи данных. Современная сеть является интегрированной средой, обеспечивающей все виды коммуникаций – традиционную передачу данных, телефонию, видеоконференции и видеовещание, интеграцию средств контроля доступа, охраны и видеонаблюдения.

    .row.mt-2
      .col-12.col-md-11
        .wysiwyg(data-aos="fade-up")
          h3 Необходимыми компонентами современной сети являются средства мобильного доступа, развитые средства обеспечения безопасности передачи данных.
          p Любая распределенная сеть, действующая в интересах крупной компании, состоит из нескольких уровней, построенных, как правило, по разным технологиям. Внутри подразделений компании работают локальные сети, объединяющие рабочие места и серверы в единую информационную структуру. Даже внутри локальной сети могут использоваться различные технологии подключения – оптические, на скоростях от 100 Мбит/с до 10 Гбит/с, “медные” на скоростях до 1 Гбит/с, беспроводные. При этом современная локальная сеть является средой как для “классической” передачи данных, так и для других типов трафика – телефонии, видеоконференций, видеовещания, голосовых и видео приложений, систем безопасности зданий и помещений и т.п.
          p Распределенные сети кампусного, а часто – районного и городского масштаба, строятся на тех же принципах, что и локальные, с использованием технологий Ethernet, как правило, по оптическим линиям. Там, где по каким-то причинам невозможно использование существующих или прокладка новых оптических линий, на помощь приходят технологии VDSL, радиодоступа и аналогичные. Использование единой технологии при построении распределенных сетей позволяет сократить накладные расходы на передачу данных и обслуживание сети и сохранить принцип “единой среды для всех приложений”.
