// CONTENT
include ../breadcrumbs/_breadcrumbs
include _partials/_sidebar

.content
  .bc-container
    +breadcrumbs(["Главная", "О компании", "Работа у нас"])

  // article
  article.article
    h1.h1-title.article__title(data-aos="fade-up") Работа у нас
    .article__wrapper
      // article content
      .article__content
        // caption
        p.p-big(data-aos="fade-up") ООО «Рэйс-Коммуникейшн» занимается разработкой и производством оборудования спутниковой связи, а также проектированием и строительством сетей связи и специальных телекоммуникационных систем.
        .wysiwyg.wysiwyg--primary(data-aos="fade-up")
          p Мы рады специалистам, готовым к творческой работе в сфере новых и быстроразвивающихся технологий. Компания придерживается принципа преемственности поколений и принимает на работу высококвалифицированных специалистов разных возрастов.

      // sidebar
      +sidebarMenu([
        {name: "История компании"},
        {name: "Инфраструктура"},
        {name: "Клиенты и партнеры"},
        {name: "Лицензии и сертификаты"},
        {name: "Работа у нас", active: true},
        {name: "Новости"},
        {name: "Контакты"}
      ], true)

    // VACANCIES
    .vacancies
      .wysiwyg.wysiwyg--primary(data-aos="fade-up")
        div(js-stick-to-window data-position="right" data-stop="<577")
          img.img-w100(js-lazy data-src='img/vacanciesArticle.jpg' data-srcset='img/vacanciesArticle@2x.jpg 2x')
        div(js-stick-to-window data-position="right" data-stop="<1024")
          // benefits
          .vacancies__benefits
            h3.mt-3 Группа компаний Рэйс предлагает
            ol.ol-list.mt-1
              li Трудоустройство в соответствии с ТК РФ.
              li Решение интересных и нестандартных задач
              li Интенсивное обучение в процессе работы
              li Профессиональный рост
              li Трудоустройство в соответствии с ТК РФ.

      // bottom
      .vacancies__scope(data-aos="fade-up")
        .vacancies__left
          h4 Открытые вакансии
          .vacancies__items
            .vacancies__item.is-open
              a(href="#" js-open-vacancy) Юрист
                span
              .vacancies__list.is-open
                p Требования
                ul
                  li Высшее юридическое образование;
                  li Опыт ведения договорной работы;
                  li Опыт ведения претензионной работы;
                  li Опыт подготовки документов по лицензированию, СРО;
                  li Владение навыками составления и оформления юридических и иных служебных документов, навыки делового письма;
                  li Знание гражданского, процессуального законодательства, налогового, трудового, договорного права;
                  li Знание арбитражного процесса;
                  li Знания ФЗ № 275-от 29.12.2012г. приветствуется.
                p Обязанности
                ul
                  li Договорная работа: поставки, субподряд (СМР, пусконаладочные, проектные, транспортно-экспедиторские), услуги, работы;
                  li Оформление, визирование, согласование и контроль над ходом подписания договоров, дополнительных соглашений и протоколов разногласий к ним;
                  li Работа с контрагентами;
            .vacancies__item
              a(href="#" js-open-vacancy) Координатор Отдела сопровождения проектов
                span
              .vacancies__list
                p Требования
                ul
                  li Высшее юридическое образование;
                  li Опыт ведения договорной работы;
                  li Опыт ведения претензионной работы;
                  li Опыт подготовки документов по лицензированию, СРО;
                p Обязанности
                ul
                  li Договорная работа: поставки, субподряд (СМР, пусконаладочные, проектные, транспортно-экспедиторские), услуги, работы;
                  li Оформление, визирование, согласование и контроль над ходом подписания договоров, дополнительных соглашений и протоколов разногласий к ним;
                  li Работа с контрагентами;
            .vacancies__item
              a(href="#" js-open-vacancy) Служба поддержки
                span
              .vacancies__list
                p Требования
                ul
                  li Высшее юридическое образование;
                  li Опыт ведения договорной работы;
                  li Опыт ведения претензионной работы;
                  li Опыт подготовки документов по лицензированию, СРО;
                  li Владение навыками составления и оформления юридических и иных служебных документов, навыки делового письма;
                  li Знание гражданского, процессуального законодательства, налогового, трудового, договорного права;
                  li Знание арбитражного процесса;
                  li Знания ФЗ № 275-от 29.12.2012г. приветствуется.

        .vacancies__right
          h4 Директор по персоналу
          .vacancies__person
            .vacancies__person-image
              img(src='img/director.png' srcset='img/director@2x.png 2x')
            .vacancies__person-info
              p Бибеева Марина Ивановна
              a(href="tel:+74957850770") +7 (495) 785-0770, доб. 1434
              a.mail(href="mailto:ok@sgmt.ru") ok@sgmt.ru
