---
title: Инфраструктура
---
extends shared/_layout
block content

  // header modifier class
  div(js-header-class data-class="is-black")

  include ../components/content/_infrastructure
  include ../components/nextPage/_infrastructure

