---
title: UI
---
extends shared/_layout
block content

  // control header class
  div(js-header-class data-class='is-black')

  .content
    .container
      h2.h2-title Иконки
      div(style="font-size: 2em")
        +svgMono('arrow-crumb-down')
        +svgMono('arrow-down-big')
        +svgMono('arrow-top')
        +svgMono('btn-arrow-next')
        +svgMono('btn-arrow-prev')
        +svgMono('email')
        +svgMono('mail')
        +svgMono('out-link')
        +svgMono('phone-outline')
        +svgMono('phone')
        +svgMono('search')
        +svgMono('arrow-crumb-right')
        +svgMono('checkmark')
        +svgMono('exclamation')
        +svgMono('swiper-arrow-prev')
        +svgMono('swiper-arrow-next')
