// about content
.about-content
  position: relative
  padding: 60px 0 0px
  z-index: 2
  &__wrapper
    display: flex
    flex-wrap: wrap
    margin: 0 -15px
    position: relative
  &__text, &__sidebar
    width: 100%
    min-width: 1px
    min-height: 0
  &__text
    flex: 0 0 60%
    max-width: 60%
    padding-left: 15px
    padding-right: 30px
  &__sidebar
    flex: 0 0 40%
    max-width: 40%
    padding-left: 15px
    padding-right: 15px
    margin-left: auto
  .wysiwyg
    p
      font-size: 18px
      color: $fontColor

// about navi
.about-navi
  padding: 170px
  &__heading
    text-align: center
    font-weight: 600
    font-size: 18px
    line-height: 1.22

  &__list
    list-style: none
    margin: 0
    padding: 0
    text-align: center
    li
      display: block
      margin: 5px -10px 15px
    a
      display: inline-block
      position: relative
      padding: 10px
      font-weight: 700
      font-size: 40px
      line-height: 1.25
      text-align: center
      transition: color .25s $ease
      &::after
        display: inline-block
        content: ' '
        position: absolute
        left: 10px
        right: 10px
        bottom: 0
        height: 1px
        background: $colorGreen
        transition: right .35s ease-out
      &:hover
        color: $colorGreen
        &::after
          right: 101%

+r($hd)
  .about-content
    .wysiwyg
      p
        font-size: 16px
        line-height: 1.65

  .about-navi
    padding: 130px 50px 70px
    &__list
      a
        font-size: 30px

+r($xl)
  .about-content
    &__wrapper
      max-width: 810px
      margin: 0 auto
    &__text
      flex: 0 0 60%
      max-width: 60%
    .wysiwyg
      p
        font-size: 14px
        line-height: 1.75
      h3
        font-size: 14px

  .about-navi
    padding: 120px 50px 70px
    &__heading
      font-size: 14px
    &__list
      li
        margin: 11px -10px 13px
      a
        font-size: 24px


+r($lg)
  .about-content
    &__wrapper
      max-width: 100%
      margin: 0
      flex-direction: column
    &__text
      padding-left: 0
      flex: 0 0 100%
      max-width: 100%
      padding-right: 0
    &__sidebar
      padding-left: 0
      padding-right: 0
      margin-top: 12px
      flex: 0 0 100%
      max-width: 100%

  .about-navi
    padding: 60px 0
    &__heading
      font-size: 14px
    &__list
      li
        margin: 11px -10px 13px
      a
        font-size: 24px

+r($md)
  .about-content
    padding-top: 30px
    .wysiwyg
      p
        font-size: 12px
        line-height: 1.9
      h3
        font-size: 16px
        text-transform: uppercase
    &__sidebar
      margin-top: 10px


  .about-navi
    padding: 45px 0 70px
    &__heading
      font-size: 14px
      margin-bottom: 20px
    &__list
      li
        margin: 5px 0px 0px
      a
        font-size: 18px
