// ABOUT - content
.about-content

  .container
    .about-content__wrapper
      .about-content__text(data-aos="fade-up")
        .wysiwyg
          p «Рэйс-Коммуникейшн» (Race Communications) – российский системный интегратор, работающий на рынках ИТ и Телеком с 1997 года и образованный на базе компаний, существующих с 1992 года. Компания имеет большой опыт проектирования и строительства сетей и сооружений связи; занимается разработкой собственных продуктов и решений в области спутниковой связи.
          p «Рэйс-Коммуникейшн» осуществляет деятельность на всей территории Российской Федерации и стран СНГ. Компания является авторизированным партнером: ALGA Microwave/Mitec VSAT, ViaSat Inc., EASTAR, Cisco Systems, Hewlett-Packard, EPAK и др.
      .about-content__sidebar(data-aos="fade-up")
        .wysiwyg
          h3 В группу компаний также входят
          include ../logoList/_about
