// LOGO LIST
.logo-list.logo-list--editable
  .logo-list__col
    .logo-list__logo
      img(src='img/partnersLogo_1.png' srcset='img/partnersLogo_1@2x.png 2x')
  .logo-list__col
    .logo-list__logo
      img(src='img/partnersLogo_2.png' srcset='img/partnersLogo_2@2x.png 2x')
  .logo-list__col
    .logo-list__logo
      img(src='img/partnersLogo_3.png' srcset='img/partnersLogo_3@2x.png 2x')
  .logo-list__col
    .logo-list__logo
      img(src='img/partnersLogo_4.png' srcset='img/partnersLogo_4@2x.png 2x')
  .logo-list__col
    .logo-list__logo
      img(src='img/partnersLogo_5.png' srcset='img/partnersLogo_5@2x.png 2x')
  .logo-list__col
    .logo-list__logo
      img(src='img/partnersLogo_6.png' srcset='img/partnersLogo_6@2x.png 2x')
  .logo-list__col
    .logo-list__logo
      img(src='img/partnersLogo_7.png' srcset='img/partnersLogo_7@2x.png 2x')
  .logo-list__col
    .logo-list__logo
      img(src='img/partnersLogo_8.png' srcset='img/partnersLogo_8@2x.png 2x')
  .logo-list__col
    .logo-list__logo
      img(src='img/partnersLogo_9.png' srcset='img/partnersLogo_9@2x.png 2x')
  .logo-list__col
    .logo-list__logo
      img(src='img/partnersLogo_10.png' srcset='img/partnersLogo_10@2x.png 2x')
