include ../utilities/_mixins
doctype html
html(lang="ru")
  head
    include _head

  body
    // place where pjax bindings happen's
    .circle-cursor.circle-cursor--inner
    .circle-cursor.circle-cursor--outer

    #barba-wrapper
      block header
        include ../../components/header/_header
        include ../../components/header/_mobile-navi

      // what should be changed with every pjax
      .page(class=outClass)
        .page__content
          block content

        block footer
          include ../../components/footer/_footer

      block modals
        include ../../components/modal/_modals

      block scripts
        include _scripts
