
// MODALS
// request modal
.modal.mfp-hide#modal-request
  //form request
  form.modal__form(action="ajax-endpoint.php" js-validate-form)
    .modal__title Написать нам
    .ui-group
      .ui-input(js-input-focus)
        label.ui-input__float-label(for="mreq_name") Представьтесь пожалуйста <span class="required">*</span>
        input(type="text" name="name" id="mreq_name" required)
    .ui-group
      .ui-input(js-input-focus)
        label.ui-input__float-label(for="mreq_email") Напишите ваш e-mail  <span class="required">*</span>
        input(type="email" name="email" id="mreq_email" required)
    .ui-group
      .ui-input(js-input-focus)
        label.ui-input__float-label(for="mreq_comment") Сообщение <span class="required">*</span>
        textarea(type="text" name="comment" id="mreq_comment" rows="1" data-min-rows="1" required)
    .ui-group
      button(type="submit").btn.btn-primary
        span Отправить
    .modal__form-note Нажимая кнопку "Отправить" Вы соглашаетесь с политикой конфиденциальности.


// callback modal
.modal.mfp-hide#modal-callback
  // form callback
  form.modal__form(action="ajax-endpoint.php" js-validate-form)
    .modal__title Заказать звонок
    .ui-group
      .ui-input(js-input-focus)
        label.ui-input__float-label(for="mcb_name") Представьтесь пожалуйста <span class="required">*</span>
        input(type="text" name="name" id="mcb_name" required)
    .ui-group
      .ui-input(js-input-focus)
        label.ui-input__float-label(for="mcb_phone") Напишите ваш телефон <span class="required">*</span>
        input(type="tel" name="phone" id="mcb_phone" required)
    .ui-group
      button(type="submit").btn.btn-primary
        span Заказать
    .modal__form-note Нажимая кнопку "Заказать" Вы соглашаетесь с политикой конфиденциальности.

// submit application modal
.modal.mfp-hide#modal-application
  form(action="ajax-endpoint.php" js-validate-form)
    .reqform__title(data-aos="fade-up") Оставить заявку
    .reqform__fields(data-aos="fade-up")
      .reqform__col.ui-group
        .ui-input(js-input-focus)
          label.ui-input__float-label(for="rfm_name") Представьтесь пожалуйста <span class="required">*</span>
          input(type="text" name="name" id="rfm_name" required)
      .reqform__col.ui-group
        .ui-input(js-input-focus)
          label.ui-input__float-label(for="rfm_email") Напишите ваш e-mail  <span class="required">*</span>
          input(type="email" name="email" id="rfm_email" required)
      .reqform__col.ui-group
        .ui-input(js-input-focus)
          label.ui-input__float-label(for="rfm_phone") Напишите ваш телефон <span class="required">*</span>
          input(type="tel" name="phone" id="rfm_phone" required)
    .reqform__cta(data-aos="fade-up")
      .ui-group
        button(type="submit").btn.btn-primary.btn--c-white
          span Отправить
      .reqform__checkbox
        .ui-group
          .ui-checkbox
            input(type="checkbox" checked id="rfm_agree" name="agree" required)
            label(for="rfm_agree")
              span Я согласен на обработку <a href="#" target="_blank">персональных данных</a>, а также с условиями оферты.
      .modal__form-note Нажимая кнопку "Отправить" Вы соглашаетесь с политикой конфиденциальности.


// thanks modal
.modal.mfp-hide#modal-thanks
  .modal__title Спасибо! Мы обязательно с вами свяжемся в ближайшее время.
