// PAGE 404
.page404
  .page404__background(data-aos="blur")
    img(src='img/bg-404.jpg' srcset='img/bg-404@2x.jpg 2x')
  .page404__content
    .container
      .page404__icon(data-aos="fade-up")
        +svgMono('404')
      .page404__title(data-aos="fade-up") Извините, но запрашиваемая Вами страница на нашем сайте не найдена.
      a.btn.btn-primary.btn--c-white(href="/homepage.html" data-aos="fade-up") ПЕРЕЙТИ НА ГЛАВНУЮ СТРАНИЦУ
