// NEXT PAGE
a(href="vacancies.html" data-transition="overlay").next-page
  .next-page__background(js-parallax-scale-background data-scale-power="2")
    img(src='img/nextPage_5.jpg' srcset='img/nextPage_5@2x.jpg 2x' alt="")
  .next-page__content
    .container
      .next-page__wrapper(data-aos="fade-up")
        .next-page__section-name Следующая новость
        .next-page__name.next-page__name--no-border Специалисты ГК "Рэйс" представили новые разработки на форуме "Армия-2018"
