// NEXT PAGE
a(href="news.html" data-transition="overlay").next-page
  .next-page__background(js-parallax-scale-background data-scale-power="2")
    img(src='img/nextPage_3.jpg' srcset='img/nextPage_3@2x.jpg 2x' alt="")
  .next-page__content
    .container
      .next-page__wrapper(data-aos="fade-up")
        .next-page__section-name Далее
        .next-page__name Новости
