// HEADER :: START
header.header
  .header__wrapper
    a(href="homepage.html").header__logo
      include ../../icons/svg-inline/logo.svg
    ul.header__menu
      li
        a(href="about.html") О компании
      li
        a(href="production.html") Продукция
          span.header__menu-counter 7
      li
        a(href="services.html") Услуги
          span.header__menu-counter 4
      li
        a(href="solutions.html") Решения
          span.header__menu-counter 5

    .header__cta
      a(href="tel:+74959167223").header__phone
        +svgMono('phone')
        span +7 (495) 916-7223

      a(href="#modal-callback" js-popup).header__callback.js-circle-nav
        +svgMono('phone-outline')

      a(href="#modal-request" js-popup).header__mail.js-circle-nav
        +svgMono('mail')

      a(href="#" js-open-header-panel data-panel="search").header__search.js-circle-nav
        +svgMono('search')

      a(href="#").header__lang.js-circle-nav
        span EN

    .header__hamburger
      .hamburger.hamburger--squeeze(js-hamburger)
        .hamburger-box
          .hamburger-inner

// Header nav
.header-nav
  .header-nav__wrapper
    // actions
    .header-nav__actions
      a(href="#modal-request" js-popup).header-nav__action.js-circle-nav
        +svgMono('mail')
      a(href="#modal-callback" js-popup).header-nav__action.js-circle-nav
        +svgMono('phone-outline')
      a(href="#" js-scroll-page-top).header-nav__action.js-circle-nav
        +svgMono('arrow-top')

// Header search
.header-panel(data-header-panel="search")
  .header-panel__close(js-close-header-panel)
    .hamburger.hamburger--squeeze.is-active
      .hamburger-box
        .hamburger-inner

  .header-panel__wrapper
    .header-search
      form.header-search__form(action="")
        input(type="text" placeholder="Поиск по сайту")
        button.js-circle-nav
          +svgMono('search')
