// MOBILE NAVI
.mobile-navi
  .mobile-navi__wrapper
    .mobile-navi__grid
      // col for menu
      .mobile-navi__col.mobile-navi__col--menu
        .mobile-navi__background
          img(src='img/mobileNaviBg.jpg' srcset='img/mobileNaviBg@2x.jpg 2x')
        .mobile-navi__menu-grid(js-mobile-navi-menu)
          .mobile-navi__menu
            .mobile-navi__menu-title О компании
            ul.mobile-navi__menu-list
              li
                a(href="history.html") История компании
              li
                a(href="infrastructure.html") Инфраструктура
              li
                a(href="clients.html") Клиенты и партнеры
              li
                a(href="certificates.html") Лицензии и сертификаты
              li
                a(href="vacancies.html") Работа у нас
              li
                a(href="news.html") Новости
              li
                a(href="contacts.html") Контакты
          .mobile-navi__menu
            .mobile-navi__menu-title Услуги
            ul.mobile-navi__menu-list
              li
                a(href="services-article.html") Проектирование и строительство
              li
                a(href="services-article.html") Подключение к спутниковым сетям
              li
                a(href="services-article.html") Поставка оборудования и программного обеспечения
              li
                a(href="services-article.html") Разработка и внедрение ПО
              li
                a(href="services-article.html") Техническая поддержка
              li
                a(href="services-article.html") Аренда оборудования
              li
                a(href="services-article.html") Консалтинг в сфере ИТ и телеком
              li
                a(href="services-article.html") Проектирование и строительство

          .mobile-navi__menu
            .mobile-navi__menu-title Продукция
            ul.mobile-navi__menu-list
              li
                a(href="production-article.html") Мобильные спутниковые комплексы СНАРК
              li
                a(href="production-article.html") Земные станции спутниковой связи
              li
                a(href="production-article.html") Спутниковые усилители BUC
              li
                a(href="production-article.html") Телекоммуникационное о борудование
          .mobile-navi__menu
            .mobile-navi__menu-title Решения
            ul.mobile-navi__menu-list
              li
                a(href="solutions-article.html") Корпоративные и ведомственные сети передачи данных
              li
                a(href="solutions-article.html") Создание ЗССС «под ключ»
              li
                a(href="solutions-article.html") Центры мониторинга и управления сетью
              li
                a(href="solutions-article.html") Производство VSAT оборудования
              li
                a(href="solutions-article.html") Мультисервисная рассылка

      // col for menu
      .mobile-navi__col.mobile-navi__col--forms
        .mobile-navi__mobile-panelbts
          a(href="#" js-open-mobile-navi-panel data-panel="request").btn.btn-primary
            span Написать нам
          a(href="#" js-open-mobile-navi-panel data-panel="callback").btn.btn-primary
            span Заказать звонок

        // forms are also used as panels on tablet/mobile
        //form request
        form.mobile-navi__form(action="ajax-endpoint.php" js-validate-form data-panel="request")
          .mobile-navi__form-title(js-close-mobile-navi-panel) Написать нам
          .ui-group
            .ui-input(js-input-focus)
              label.ui-input__float-label(for="req_name") Представьтесь пожалуйста <span class="required">*</span>
              input(type="text" name="name" id="req_name" required)
          .ui-group
            .ui-input(js-input-focus)
              label.ui-input__float-label(for="req_email") Напишите ваш e-mail  <span class="required">*</span>
              input(type="email" name="email" id="req_email" required)
          .ui-group
            .ui-input(js-input-focus)
              label.ui-input__float-label(for="req_comment") Сообщение <span class="required">*</span>
              textarea(type="text" name="comment" id="req_comment" rows="1" data-min-rows="1" required)
          .ui-group
            button(type="submit").btn.btn-primary
              span Отправить

        // form callback
        form.mobile-navi__form(action="ajax-endpoint.php" js-validate-form data-panel="callback")
          .mobile-navi__form-title(js-close-mobile-navi-panel) Заказать звонок
          .ui-group
            .ui-input(js-input-focus)
              label.ui-input__float-label(for="cb_name") Представьтесь пожалуйста <span class="required">*</span>
              input(type="text" name="name" id="cb_name" required)
          .ui-group
            .ui-input(js-input-focus)
              label.ui-input__float-label(for="cb_phone") Напишите ваш телефон <span class="required">*</span>
              input(type="tel" name="phone" id="cb_phone" required)
          .ui-group
            button(type="submit").btn.btn-primary
              span Заказать
