.mobile-navi
  position: fixed 0
  z-index: 8
  background: #1D2841
  display: flex
  flex-direction: column
  pointer-events: none
  transform: translate3d(0,-100%,0)
  transition: transform .3s $ease
  &__wrapper
    flex: 1 1 auto
    display: flex
    flex-direction: column
    overflow-y: auto
  &__grid
    flex: 1 0 auto
    display: flex
  &__col
    position: relative
    flex: 1 1 auto
    min-width: 1px
    min-height: 0
    // TODO - posible naming refactor
    &--menu
      flex: 1 1 auto
      max-width: 100%
      padding: 120px 20px 50px
    &--forms
      flex: 0 0 550px
      color: $fontColor
      background: white
      padding: 60px 60px

  &__background
    position: absolute 0
    display: flex
    flex-direction: column
    img
      flex: 1 1 auto
      width: 100%
      height: 100%
      object-fit: cover
  &__menu-grid
    position: relative
    z-index: 2
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin: -15px auto
    max-width: 720px
  &__menu
    width: 100%
    flex: 0 0 $col6
    max-width: $col6
    padding: 15px 30px
    margin-bottom: 10px

  &__menu-title
    font-weight: bold
    font-size: 24px
    line-height: 29px
    color: #F9F9F9

  &__menu-list
    margin: 1em 0
    padding: 0
    list-style: none
    li
      display: block
      font-size: 13px
      line-height: 1.5
      font-weight: 500
      color: #F2F2F2
      margin: 0 -5px 5px
      &:last-child
        margin-bottom: 0
    a
      display: inline-block
      padding: 4px 5px
      transition: .25s $ease
      &:hover
        color: $colorPrimary

  &__form
    margin: 60px 0
    max-width: 350px
    &:last-child
      margin-bottom: 0

  &__form-title
    font-size: 24px
    font-weight: bold
    margin-bottom: 1em


  // mobile navi modifiers
  // TODO - current active for all
  &.is-active
    pointer-events: all
    transform: translate3d(0,0,0)


