.col-border-left
  padding-left: 45px
  &::before
    display: inline-block
    content: ' '
    position: absolute
    left: 15px
    top: 1em
    bottom: 0
    width: 1px
    background: $borderColor

.row-border-bottom
  position: relative
  > [class*="col"]
    padding-bottom: 70px
  &::after
    display: inline-block
    content: ' '
    position: absolute
    left: 15px
    right: 15px
    bottom: 0
    height: 1px
    background: $borderColor

+r($hd)
  .row
    &--production
      max-width: 840px
      margin: 0 auto
      &::after
        display: none

+r($xl)
  .row-border-bottom
    > [class*="col"]
      padding-bottom: 20px
    &::after
      display: none
  .row
    &--production
      max-width: 660px

+r($lg)
  .col-border-left
    padding-left: 15px
    &::before
      display: none
  .row-border-bottom
    > [class*="col"]
      padding-bottom: 0px

  .row
    &--production
      max-width: 100%
      > [class*="col"]
        padding-left: 0
        padding-right: 0

+r($md)
  .col-border-left
    // padding-top: 32px
