// certificates LIST
-
  var list = [
    "Лицензия № 138283 на оказание услуг связи по предоставлению каналов связи",
    "Лицензия №140473 на оказание услуг связи по передаче данных, за исключением услуг связи по передаче данных для целей передачи голосовой информации",
    "Лицензия №165269 Федеральной службы по надзору в сфере связи, информационных технологий и массовых коммуникаций на предоставление телематических услуг связи",
    "Лицензия № 0010604 Центра по лицензированию, сертификации и защите государственной тайны ФСБ России на осуществление разработки, производства, распространения шифровальных (криптографических) средств",
    "Свидетельство СРО НП № П-050-5047080378-25022010-136/4",
    "Свидетельство СРО НП № С-130-50-0778-50-141216",
    "Сертификат менеджмента качества ISO 9001"
  ]

.certificates
  each certificate in list
    .certificates__col(data-aos="fade-up")
      a.certificates__item(href="#")
        .certificates__icon
          +svgMono('doc-pdf')
          .certificates__filesize 13.5 Mb
        .certificates__name= certificate
  .certificates__information(data-aos="fade-up")
    p Дополнительная информация предоставляется по запросу.
