.content
  // search page
  .search-page
    h1.h1-title(data-aos="fade-up") Результаты поиска
    form(action="#")
      .search-page__field(data-aos="fade-up")
        input(type="text" placeholder="Продукция race")
        input.btn(type="submit" value="")
    h2(data-aos="fade-up") Продукция
      span 2
    a.search-page__item(href="#" data-aos="fade-up")
      p.search-page__item-title Мобильные спутниковые комплексы CHAPK
      p.search-page__item-info Спутниковые сети позволяют пользователям получить доступ к услугам связи в первую очередь там, где использование наземных.
    a.search-page__item(href="#" data-aos="fade-up")
      p.search-page__item-title Мобильные спутниковые комплексы CHAPK
      p.search-page__item-info Спутниковые сети позволяют пользователям получить доступ к услугам связи в первую
    h2(data-aos="fade-up") Услуги
      span 4
    a.search-page__item(href="#" data-aos="fade-up")
      p.search-page__item-title Поставка оборудования и программного обеспечения
      p.search-page__item-info Спутниковые сети позволяют пользователям получить доступ к услугам связи в первую очередь там
    a.search-page__item(href="#" data-aos="fade-up")
      p.search-page__item-title Консалтинг в сфере ИТ и телеком
      p.search-page__item-info Спутниковые сети позволяют пользователям получить доступ к услугам связи в первую очередь там, где использование
    a.search-page__item(href="#" data-aos="fade-up")
      p.search-page__item-title Подключение к спутниковым сетям
      p.search-page__item-info Спутниковые сети позволяют пользователям получить доступ к услугам связи в первую очередь
    a.search-page__item(href="#" data-aos="fade-up")
      p.search-page__item-title Проектирование и строительство
      p.search-page__item-info Спутниковые сети позволяют пользователям получить доступ к услугам связи в первую очередь там, где использование
    h2(data-aos="fade-up") Решения
      span 1
    a.search-page__item(href="#" data-aos="fade-up")
      p.search-page__item-title Центры мониторинга и управления сетью
      p.search-page__item-info Спутниковые сети позволяют пользователям получить доступ к услугам связи в первую очередь там
    h2(data-aos="fade-up") Новости
      span 5
    a.search-page__item(href="#" data-aos="fade-up")
      p.search-page__item-date 13 марта 2019
      p.search-page__item-news Специалисты Группы компаний приняли участие в «SATCOMRUS 2018: SMART SATELLITE – идеи и инновации».
    a.search-page__item(href="#" data-aos="fade-up")
      p.search-page__item-date 13 марта 2019
      p.search-page__item-news Специалисты ГК "Рэйс" представили новые разработки на форуме "Армия-2018"
    a.search-page__item(href="#" data-aos="fade-up")
      p.search-page__item-date 13 марта 2019
      p.search-page__item-news Race Communications принял участие в межрегиональном совещании в Республике Саха (Якутия).
    a.search-page__item(href="#" data-aos="fade-up")
      p.search-page__item-date 13 марта 2019
      p.search-page__item-news Race Communications принял участие в семинаре «День спутниковых инноваций».
    a.search-page__item(href="#" data-aos="fade-up")
      p.search-page__item-date 13 марта 2019
      p.search-page__item-news Специалисты ГК "Рэйс" приняли участие в конференции "Satellite Russia and CIS 2019".
