// NEWS
.news
  .news__grid
    // col
    .news__col
      .news-card
        .news-card__cover
          img(src='img/newsCard_1.jpg' srcset='img/newsCard_1@2x.jpg 2x')
        .news-card__content
          .news-card__title aafasfasfasf
          .news-card__short
            p asfasf asf asf asf
            p afsfasf
    // col
    .news__col
      .news-card
        .news-card__cover
          img(src='img/newsCard_2.jpg' srcset='img/newsCard_2@2x.jpg 2x')
    // col
    .news__col
      .news-card
        .news-card__cover
          img(src='img/newsCard_3.jpg' srcset='img/newsCard_3@2x.jpg 2x')
    // col
    .news__col
      .news-card
        .news-card__cover
          img(src='img/newsCard_4.jpg' srcset='img/newsCard_4@2x.jpg 2x')
