// NEWS ARCHIEVE
.news.news--archieve
  a.btn.btn-primary(href="/news.html") архив
  .news__grid
    .news__col
      a.news-card(href="#")
        .news-card__content
          p.news-card__date 13 марта 2019
          p.news-card__info Специалисты Группы компаний приняли участие в «SATCOMRUS 2018: SMART SATELLITE – идеи и инновации».

    .news__col
      a.news-card(href="#")
        .news-card__content
          p.news-card__date 13 марта 2019
          p.news-card__info Специалисты ГК "Рэйс" представили новые разработки на форуме "Армия-2018"

    .news__col
      a.news-card(href="#")
        .news-card__content
          p.news-card__date 13 марта 2019
          p.news-card__info Специалисты Группы компаний приняли участие в «SATCOMRUS 2018: SMART SATELLITE – идеи и инновации».

    .news__col
      a.news-card(href="#")
        .news-card__content
          p.news-card__date 13 марта 2019
          p.news-card__info Специалисты Группы компаний приняли участие в «SATCOMRUS 2018: SMART SATELLITE – идеи и инновации».
