.pagination.cdp(actpage="1")
  a.cdp_i(js-pagination href="#!-1")
    +svgColor('arrow-right')
  a.cdp_i(js-pagination href="#!1") 1
  a.cdp_i(js-pagination href="#!2") 2
  a.cdp_i(js-pagination href="#!3") 3
  a.cdp_i(js-pagination href="#!4") 4
  a.cdp_i(js-pagination href="#!5") 5
  a.cdp_i(js-pagination href="#!6") 6
  a.cdp_i(js-pagination href="#!7") 7
  a.cdp_i(js-pagination href="#!8") 8
  a.cdp_i(js-pagination href="#!9") 9
  a.cdp_i(js-pagination href="#!10") 10
  a.cdp_i(js-pagination href="#!11") 11
  a.cdp_i(js-pagination href="#!12") 12
  a.cdp_i(js-pagination href="#!13") 13
  a.cdp_i(js-pagination href="#!14") 14
  a.cdp_i(js-pagination href="#!15") 15
  a.cdp_i(js-pagination href="#!+1")
    +svgColor('arrow-right')
