.ico-mono-arrow-crumb-down {
  width: 1.67em;
  height: 1em;
  fill: #202020;
}
.ico-mono-arrow-crumb-right {
  width: 0.6em;
  height: 1em;
  fill: #E0E0E0;
}
.ico-mono-arrow-down-big {
  width: 0.26em;
  height: 1em;
  fill: #fff;
}
.ico-mono-arrow-top {
  width: 0.7em;
  height: 1em;
  fill: #fff;
}
.ico-mono-btn-arrow-next {
  width: 2em;
  height: 1em;
  fill: initial;
}
.ico-mono-btn-arrow-prev {
  width: 2em;
  height: 1em;
  fill: initial;
}
.ico-mono-email {
  width: 1.4em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-mail {
  width: 1.33em;
  height: 1em;
  fill: #fff;
}
.ico-mono-out-link {
  width: 0.84em;
  height: 1em;
  fill: #FF8739;
}
.ico-mono-phone-outline {
  width: 1.05em;
  height: 1em;
  fill: #fff;
}
.ico-mono-phone {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-search {
  width: 1em;
  height: 1em;
  fill: #fff;
}
