.ico-mono-404 {
  width: 2.78em;
  height: 1em;
  fill: #fff;
}
.ico-mono-arrow-crumb-down {
  width: 1.67em;
  height: 1em;
  fill: #202020;
}
.ico-mono-arrow-crumb-right {
  width: 0.6em;
  height: 1em;
  fill: #E0E0E0;
}
.ico-mono-arrow-down-big {
  width: 0.26em;
  height: 1em;
  fill: #fff;
}
.ico-mono-arrow-top {
  width: 0.74em;
  height: 1em;
  fill: #fff;
}
.ico-mono-btn-arrow-next {
  width: 2em;
  height: 1em;
  fill: initial;
}
.ico-mono-btn-arrow-prev {
  width: 2em;
  height: 1em;
  fill: initial;
}
.ico-mono-btn-arrow-right-2 {
  width: 0.61em;
  height: 1em;
  fill: #fff;
}
.ico-mono-checkmark {
  width: 1.25em;
  height: 1em;
  fill: initial;
}
.ico-mono-doc-pdf {
  width: 0.8em;
  height: 1em;
  fill: #F58823;
}
.ico-mono-email {
  width: 1.4em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-exclamation {
  width: 0.3em;
  height: 1em;
  fill: #F5203A;
}
.ico-mono-mail {
  width: 1.33em;
  height: 1em;
  fill: #fff;
}
.ico-mono-out-link {
  width: 0.84em;
  height: 1em;
  fill: #FF8739;
}
.ico-mono-phone-outline {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-phone {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-scroll-down-with-arrow {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-scrolltop {
  width: 0.67em;
  height: 1em;
  fill: #4F4F4F;
}
.ico-mono-search {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-swiper-arrow-next {
  width: 0.61em;
  height: 1em;
  fill: #fff;
}
.ico-mono-swiper-arrow-prev {
  width: 0.61em;
  height: 1em;
  fill: #fff;
}
