.ico-mono-arrow-down-big {
  width: 0.26em;
  height: 1em;
  fill: #fff;
}
.ico-mono-arrow-top {
  width: 0.7em;
  height: 1em;
  fill: #fff;
}
.ico-mono-btn-arrow-next {
  width: 2em;
  height: 1em;
  fill: #fff;
}
.ico-mono-email {
  width: 1.4em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-mail {
  width: 1.33em;
  height: 1em;
  fill: #fff;
}
.ico-mono-phone-outline {
  width: 1.05em;
  height: 1em;
  fill: #fff;
}
.ico-mono-phone {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-search {
  width: 1em;
  height: 1em;
  fill: #fff;
}
